@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using learnchess.Models
@model List<learnchess.Models.UserRolesViewModel>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>User Roles</h1>
<div class="col">
	<table class="table-striped table table-dark table-hover rounded shadow-sm">
		<thead>
			<tr>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Email</th>
				<th scope="col">Roles</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model)
			{
				<tr>
					<td>@user.FirstName</td>
					<td>@user.LastName</td>
					<td>@user.Email</td>
					<td>@string.Join(" , ", user.Roles.ToList())</td>
					<td>
						<a class="btn btn-outline-info" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>