@model learnchess.Models.Videos
@using learnchess.Models

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create new Video</h1>
<hr />

<div class="row">
	<div class="col-md-4 bg-dark text-white">
		<form asp-action="Create" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Url" class="control-label"></label>
				<input asp-for="Url" class="form-control" />
				<span asp-validation-for="Url" class="text-danger"></span>
			</div>

			<div class="form-group">
                <div class="form-group">
                    <label asp-for="LevelId" class="control-label">Level</label>
                    <select asp-for="LevelId" class="form-control">
                        <option value="">-- Select Level --</option>
                        @if (ViewBag.Levels != null)
                        {
                            foreach (var level in ViewBag.Levels)
                            {
                                <option value="@level.LevelId">@level.Level</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="LevelId" class="text-danger"></span>
                </div>
                <span asp-validation-for="LevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="LanguageId" class="control-label">Language</label>
                    <select asp-for="LanguageId" class="form-control">
                        <option value="">-- Select Language --</option>
                        @if (ViewBag.Languages != null)
                        {
                            foreach (var languages in ViewBag.Languages)
                            {
                                <option value="@languages.LanguageId">@languages.Language</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="LanguageId" class="text-danger"></span>
                </div>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label">Author</label>
                    <select asp-for="AuthorId" class="form-control">
                        <option value="">-- Select an author --</option>
                        @if (ViewBag.Authors != null)
                        {
                            foreach (var author in ViewBag.Authors)
                            {
                                <option value="@author.AuthorId">@author.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>

			<div class="form-group">
				<label asp-for="Video" style="width: 100%;"></label>
				<img id="video" style="width:350px;height:350px; object-fit:cover" src="">
				<input type="file"
					   accept=".png,.jpg,.jpeg,.gif,.tif"
					   asp-for="Video"
					   class="form-control"
					   style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
					   onchange="document.getElementById('video').src = window.URL.createObjectURL(this.files[0])" />
				<span asp-validation-for="Video" class="text-danger"></span>
			</div>

			<div class="form-group my-2">
				<input type="submit" value="Create" class="btn btn-outline-primary" />
			</div>
			<div class="my-2">
				<a asp-action="Index" type="button" class="btn btn-outline-warning">Back to List</a>
			</div>
		</form>
	</div>
</div>