@using ContosoUniversity
@model PaginatedList<Videos>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Videos Page";
}

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body class="bg-secondary">
	<h1 class="text-light">Chess Videos</h1>

	<form asp-action="VideoPage" method="get">
		<div class="d-flex">
			<div class="form-actions no-color me-2">
				<p>
					Find by title: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
				</p>
			</div>
			<div class="form-actions no-color me-2">
				<select class="form-control">
					<option value="">-- Select an author --</option>
					@if (ViewBag.Authors != null)
					{
						foreach (var author in ViewBag.Authors)
						{
							<option value="@author.AuthorId">@author.Name</option>
						}
					}
				</select>
			</div>
			<div class="me-2">
				<input type="submit" value="Search" class="btn btn-success" /> |
				<a asp-action="VideoPage" class="btn-link btn">Back to Full List</a>
			</div>
		</div>
	</form>

	<div class="row row-cols-1 row-cols-md-3 g-4">
		@foreach (var Videos in Model)
		{
			<div class="col">
				<div class="card bg-dark">
					<img class="card-img-top" alt="..." style="object-fit:cover; height:21rem;width:100%;" src="@Html.DisplayFor(modelItem => Videos.Video)"/>

					<div class="card-body">
						<h5 class="card-title text-warning">@Html.DisplayFor(modelItem => Videos.Title)</h5>
						<p class="card-text text-white">@Html.DisplayFor(modelItem => Videos.Description)</p>
						<a class="btn btn-danger" href="@Html.DisplayFor(modelItem => Videos.Url)"><i class="fas fa-play me-2"></i>Watch Video</a>
					</div>
				</div>
			</div>
		}
	</div>
</body>
@{
	var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="mt-3 d-flex mb-3">
	<div class="me-2">
		<a asp-action="VideoPage"
		   asp-route-sortOrder="@ViewData["CurrentSort"]"
		   asp-route-pageNumber="@(Model.PageIndex - 1)"
		   asp-route-currentFilter="@ViewData["CurrentFilter"]"
		   class="btn btn-primary @prevDisabled">
			Previous
		</a>
	</div>
	<div>
		<a asp-action="VideoPage"
		   asp-route-sortOrder="@ViewData["CurrentSort"]"
		   asp-route-pageNumber="@(Model.PageIndex + 1)"
		   asp-route-currentFilter="@ViewData["CurrentFilter"]"
		   class="btn btn-primary @nextDisabled">
			Next
		</a>
	</div>
</div>